@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

/* .b-g {
  background-image: linear-gradient(#ed64b6 ,#018ff5);
  height: 100%,
} */

.navbar {
  background-color: #ed64b6;
}

.btn-reverse {
  background-color: #ffe600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  border: none;
  padding: 0;
  color: #159400;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.btn-reverse:hover {
  background-color: #018ff5;
  color: #ed64b6;
}

.btn-blue {
  background-color: #018ff5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  border: none;
  padding: 0;
  color: #ed64b6;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-blue:hover {
  background-color: #ffe600;
  color: #159400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#bootstrap-overrides h1 {
  font-family: "Nabla", cursive;
  font-size: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lightblue-bg {
  background-image: linear-gradient(#ed64b6, #018ff5);
  height: 100%;
}

.pink-bg {
  background-color: #ed64b6;
}
.lightblue-font {
  color: #018ff5;
  border: 1px solid #000000;
}

.pink-font {
  color: #ed64b6;
  /* border: 1px solid #000000; */
}

.green-bg {
  background-image: linear-gradient(to right, #ffe600, #159400);
}

.yellow-bg {
  background-image: linear-gradient(to right, #018ff5, #ed64b6);
}
.green-font {
  color: #159400;
}

.yellow-font {
  color: #ffe600;
}

.typo-border {
  /* -webkit-text-stroke-width: 0.1px; */
  -webkit-text-stroke-color: black;
}

.fullwidth {
  width: 100%;
  margin: 0;
  padding: 0;
}

.homePage {
  background-image: url("https://i.imgur.com/ZaPhVXq.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

#bootstrap-overrides .btn-detailpage {
  background-color: #018ff5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 160px;
  border: none;
  padding: 0;
  color: #ed64b6;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 16px;
  margin: 5px 5px;
}

#bootstrap-overrides .btn-detailpage:hover {
  background-color: #ffe600;
  color: #159400;
}

.form {
  background-color: #ffe600;
}

.input-yellow {
  background-color: #ffe600;
  color: #159400;
  font-weight: bold;
  padding: 5px;
  border: none;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 300px;
}

.form-label-blue {
  color: #ed64b6;
  background-color: #018ff5;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.form-label-blue-2 {
  color: #ed64b6;
  background-color: #018ff5;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}

.prankCardDetailCard {
  background-color: #ffe600;
  color: #159400;
  font-weight: bold;
  padding: 5px;
  border-radius: 20px;
  width: 300px;;
  margin: 0 auto;
  text-align: center;
}

.m-b-20 {
  margin-bottom: 20px;
}

#bootstrap-overrides .navbar {
  background-color: #ed64b6;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.center {
  margin: 0 auto;
}

.SignupPage {
  background-image: linear-gradient(#ed64b6, #018ff5);
  height: 100%;
  margin: 0;
}

.background-fade {
  background-image: linear-gradient(#ed64b6, #018ff5);
  height: 100%;
  min-height: 100vh;
}

/* NavBar Buttons Media Queries */

@media (min-width: 100px) {
  .btn-blue {
    background-color: #018ff5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0;
    color: #ed64b6;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 30px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .btn-blue {
    background-color: #018ff5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0;
    color: #ed64b6;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 30px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .btn-blue {
    background-color: #018ff5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0;
    color: #ed64b6;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 30px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .btn-blue {
    background-color: #018ff5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border: none;
    padding: 0;
    color: #ed64b6;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .btn-blue {
    background-color: #018ff5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border: none;
    padding: 0;
    color: #ed64b6;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* HomePage Media Queries */

@media (min-width: 100px) {
  #bootstrap-overrides .homepage-font {
    font-size: 60px;
  }
}

@media (min-width: 576px) {
  #bootstrap-overrides .homepage-font {
    font-size: 80px;
  }
}

@media (min-width: 768px) {
  #bootstrap-overrides .homepage-font {
    font-size: 110px;
  }
}

@media (min-width: 992px) {
  #bootstrap-overrides .homepage-font {
    font-size: 140px;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides .homepage-font {
    font-size: 160px;
  }
}

.imgDetailPage {
  width: 100%;
}

.t-s{
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.t-s:hover {
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

.t{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bootstrap-overrides .row {
  --bs-gutter-x: 0;
}


.ts {
  background-color: #ffe600;
  padding: 5px;
  border-radius: 10px;
}

.ts:hover{
  text-shadow: 0px 5px 7px rgba(0, 0, 0, 1);
}


/* Media Query for Imgs on All-Pranks-Page */

@media (min-width: 100px) {
  #bootstrap-overrides .imgDesktop {
    display:none

  }

  #bootstrap-overrides .imageMobile {
    width:100%;

  }
}

@media (min-width: 650px) {
  #bootstrap-overrides .imgDesktop {
    display:none;
    width:5px;
    position: absolute; top: 30%; left: 45%


  }
  #bootstrap-overrides .imageMobile {
    max-width:100%;
    /* max-height: 200px; */
    overflow: hidden;

  }
}

@media (min-width: 768px) {
  #bootstrap-overrides .imgDesktop {
    display:none;
    width:350px;

     position: fixed; top: 20%; left: 50%



  }
  #bootstrap-overrides .imageMobile {
    max-width:100%;
    /* max-height: 200px; */
    overflow: hidden;

  }
}

@media (min-width: 992px) {
  #bootstrap-overrides .imgDesktop {
    display:inline;
    width:500px;

     position: fixed; top: 20%; left: 50%


  }
  #bootstrap-overrides .imageMobile {
    display:none;
    
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides .imgDesktop {
        display:inline;
        width:600px;

         position: fixed; top: 20%; left: 50%



  }

  #bootstrap-overrides .imageMobile {
    display:none;
    
  }
}

.image-imput {
  color: #ed64b6;
  background-color: #018ff5;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.image-imput:hover {
  background-color: #ffe600;
  color: #159400;
}